NET "reset" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk100MHz" 	LOC=V10;
NET "reset" 		LOC=B8;
//NET "selector"		LOC=T10; //Interruptor deslizable
NET "segmentos[0]" LOC= T17;
NET "segmentos[1]" LOC= T18;
NET "segmentos[2]" LOC= U17;
NET "segmentos[3]" LOC= U18;
NET "segmentos[4]" LOC= M14;
NET "segmentos[5]" LOC= N14;
NET "segmentos[6]" LOC= L14;
NET "segmentos[7]" LOC= M13;

NET "habiDisplay[0]" LOC= N16;
NET "habiDisplay[1]" LOC= N15;
NET "habiDisplay[2]" LOC= P18;
NET "habiDisplay[3]" LOC= P17;


//NET "leds[0]" 		LOC=U16;
//NET "leds[1]" 		LOC=V16;
