#NET "A[0]" LOC =P11;
#NET "A[1]" LOC =L3;
#NET "A[2]" LOC =K3;
#NET "A[3]" LOC =B4;
#
#NET "B[]" LOC =E3;
#NET "B[]" LOC =F3;
#NET "B[]" LOC =E2;
#NET "B[]" LOC =N2;
#
#NET "sum[0]" LOC =M5;
#NET "sum[1]" LOC =M11;
#NET "sum[2]" LOC =P7;
#NET "sum[3]" LOC =P6;
#NET "sum[4]" LOC =N5
#NET "sum[5]" LOC =N4;
#NET "sum[6]" LOC =94;
#NET "sum[7]" LOC =G1;

#comentario 

NET "dato[0]" LOC = P44;
NET "dato[1]" LOC = P43;
NET "dato[2]" LOC = P42;
NET "dato[3]" LOC = P41;

NET "salida[0]" LOC =P34;
NET "salida[1]" LOC =P33;
NET "salida[2]" LOC =P32;
NET "salida[3]" LOC =P31;
NET "salida[4]" LOC =P30;
NET "salida[5]" LOC =P29;
NET "salida[6]" LOC =P28;
NET "salida[7]" LOC =P27;